@charset "utf-8";

/* estilizações da seção 'sobre mim' */
#sobre {
    max-width: 90%;
}

#img-perfil {
    background-image: url(../imagens/perfil/selfie.jpg);
    width: 100%;
}

#conteudo h3 {
    font-size: 1.5rem;
}

#conteudo p {
    text-align: left;
}

/* estilizações da seção 'projetos' */
.projeto {
    width: 100%;   
}

#img-projeto-aujude {
    background-image: url(../imagens/projects/projeto-aujude-altura.jpg);
    background-size: cover;
    background-position: top center;
}

#img-projeto-login {
    background-image: url(../imagens/projects/projeto-login-altura.jpg);
    border-radius: 10px;
    background-size:cover;
}

#img-projeto-social {
    background-image: url(../imagens/projects/projeto-social-altura.jpg);
    background-size:cover;
}

#img-projeto-android {
    background-image: url(../imagens/projects/projeto-android-altura.jpg);
    background-size: cover;
}


/* estilizações da seção 'contato' */
#contato-bg {
    width: 70%;
}


/* estilizações do 'footer' */
.footer-titulo p {
    font-size: 1.1rem;
}