/* Estilização p/ dispositivos mobile */

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2.25rem;
}

body {
    width: 100vw;
}

/* estilizações do header */
header {
    display: block;
    position: static;
    height: auto;
}

main {
    padding-top: 0rem;
}

/* estilizações da parte de apresentação do portfólio */
#dev-field {
    margin-inline: auto;
    text-align: center;
}

.super-titulo {
    color: var(--corpurple);
    font-size: 1.8rem;
    margin-block: 0 0.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.466);
}

.super-paragrafo {
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.social-icon {
    gap: 2rem;
}

.social-item > a {
    padding: 10px;
}

/* estilizações da seção 'sobre mim' */
#sobre-bg {
    display: block;
    max-width: 600px;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: -2rem auto 6rem auto;
    padding: 1rem;
}

#img-perfil {
    display: block;
    background-image: url(../imagens/perfil/perfil-paisagem.jpeg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}

#conteudo {
    padding: 15px;
    margin-top: 3rem;
}

#conteudo > p {
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

/* estilizações das classes 'titulo' e 'sub-titulo' */
.titulo {
    font-size: 1.4rem;
    margin-bottom: 0.9rem;
}

.sub-titulo {
    display: block;
    color: var(--corpurple);
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.185);
}


/* estilizações da seção 'habilidades técnicas */
#tech-icons {
    justify-content: space-around;
    gap: 1rem;
    padding: 10px;
}

.tech-icon {
    font-size: 1.1rem;
}


/* estilizações da seção 'projetos' */
#projetos-bg {
    width: 100%;
    margin: 30px auto 0px auto;
}

.projeto-conteudo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    height: auto;
}

.projeto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 30px 0px;
}

.projeto-link {
    display: flex;
    justify-content: center;
    width: 100%;
}

#img-projeto-aujude {
    background-image: url(../imagens/projects/projeto-aujude-menor.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

#img-projeto-login {
    background-image: url(../imagens/projects/projeto-login-menor.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#img-projeto-social {
    background-image: url(../imagens/projects/projeto-social-menor.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#img-projeto-android {
    background-image: url(../imagens/projects/projeto-android-menor.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.projetos-links {
    display: flex;
    gap: 80px;
}


/* estilizações da seção 'contato' */
#contato-bg {
    width: 85%;
}

#botoes-form {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
}

.botao-form {
    width: 50%;
}


/* estilizações do footer e links */
#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-list {
    width: 90%;
    height: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.contato-texto {
    display: none;
}