@charset "utf-8";

/* criação das variáveis de cores utilizadas [sem preto e branco] */
:root {
    --corgray: rgb(49, 49, 49);
    --corpurple: darkorchid;
}


/* reset de 'margins' e 'paddings' e bordas */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


/* definição de fonte e largura/altura do documento */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 99vw;
    height: 100vh;
}


/* estilizações do header / barra de navegação */
header {
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 70px;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
}

#logo {
    color: var(--corgray);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

#nav-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.item-list:hover {
    color: var(--corpurple);
    text-decoration: underline;
    text-decoration-color: var(--corpurple);
    cursor: pointer;
}

header > div > ul > li > a{
    color: var(--corgray);
    text-decoration: none;
}


/* definição cor 'background' da parte 'main' do documento */
main {
    background-color: white;
    padding-top: 86px;
}


/* estilizações da parte de apresentação do portfólio */
#dev-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}

.super-titulo {
    color: var(--corpurple);
    font-size: 2.8em;
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.466);
}

.super-paragrafo {
    font-size: 1.1rem;
}

.git-icon {
    margin-top: 20px;
}


/* estilizações da lista de 'tech skills' */
#tech-field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    height: auto;
    margin: 85px auto 110px auto;
    padding: 0px 20px;
}

#tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;   
    list-style-type: none;
    border-radius: 50%;
    margin-left: 15px;
}

.tech-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

#tech-icons > div > li {
    display: flex;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

#tech-icons > li > img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


/* estilizações da seção 'sobre mim' */
#sobre-bg {
    display: block;
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0px auto;
}

#sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto 110px auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#sobre img {
    max-width: 100%;
    height: 100%;
    border-radius: 60px;
}

#conteudo p {
    margin-top: 15px;
    text-align: justify;
}

#conteudo > p > a {
    color: var(--corpurple);
    text-decoration: none;
}


/* estilizações das classes 'titulo' e 'sub-titulo' */
.titulo {
    line-height: 1.15;
    font-size: 2rem;
    margin-bottom: 15px;
}

.sub-titulo {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--corpurple);
    margin-bottom: 10px;
    letter-spacing: 1px;
    display: block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.315);
}


/* estilizações da seção 'formação' */
#formacao-bg {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0px 20px;
    margin: 0px auto 150px auto;
    justify-content: center;
}

#formacao {
    text-align: left;
}

#formacao p {
    font-size: 1.3em;
}


/* estilizações da lista de projetos */
#projetos-bg {
    display: block;
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    padding: 40px 20px;
    margin: 100px auto 0px auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}

.projetos-container {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0px auto;
}

.projeto-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 80px 0px 30px 0px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding: 20px 15px;
    border-radius: 10px;
    align-items: center;
}

.titulo-projeto {
    color: var(--corpurple);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.315);
    margin-bottom: 20px;
}

.projeto-img {
    display: block;
    max-width: 20%;
    height: auto;
    border-radius: 6px;
}

.projeto-img > img {
    border-radius: 6px;
}

.techs-projeto {
    margin-left: 17px;
}

.projetos-links {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.link-externo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.link-externo > a {
    color: var(--corgray);
    text-decoration: none;
}

.link-externo > a:hover {
    color: var(--corpurple);
}


/* estilizações da seção 'contato' */
aside {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #f5f5f5;
}

#contato-bg {
    display: block;
    background-color: white;
    width: 550px;
    height: 450px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}


/* estilizações do formulário de contato */
#form {
    margin-top: 25px;
}

#form > form > p {
    margin-top: 10px;
}

#form > form > p > input {
    margin-left: 5px;
    padding-block: 2px;
    text-align: left;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3px;
}

textarea {
    border-color: rgb(199, 199, 199);
    border-radius: 3px;
    resize: none;
}

#button {
    color: white;
    font-weight: bold;
    background-color: var(--corpurple);
    margin-top: 5px;
    padding: 8px 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

#button:hover {
    background-color: rgb(195, 82, 252);
}


/* estilizações do footer e links */
footer {
    background-color: var(--corgray);
    height: auto;
    width: 100%;
    padding-block: 10px;
}

#rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 20px;
    list-style-type: none;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

.img-footer {
    margin-right: 10px;
}

.contato-texto > a {
    color: white;
    text-decoration: none;
}