@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

/* criação das variáveis de cores utilizadas [sem preto e branco] */
:root {
    --corgray: rgb(49, 49, 49);
    --corpurple: rgb(181, 32, 255);
}


/* reset de 'margins' e 'paddings' e bordas */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* efeito de scroll ao clicar nos links do menu */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6.25rem;
}


/* definição de fonte e largura/altura do documento */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


/* estilizações do header / barra de navegação */
header {
    display: block;
    position: fixed;
    background-color: var(--corgray);
    width: 100%;
    height: auto;
    z-index: 10;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    margin-right: 1.25rem;
}

#logo {
    color: #fff;
    margin-left: 0.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

#nav-list {
    display: flex;
    font-weight: bold;
    list-style-type: none;
    gap: 1.25rem;
    position: relative;
}

.item-list:hover {
    transform: translateY(-0.2rem);
}

.item-list > a {
    color: #fff;
    text-decoration: none;
}

.item-list > a:hover {
    color: var(--corpurple);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* .mobile-menu > ul > li {
    padding-block: 3px;
    border-bottom: 2px solid #f5f5f53d;
} */

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .item-list {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .item-list {
        display: block;
        padding-top: 1.2rem;
        border-bottom: 2px solid #f5f5f53d;
    }
}

.open {
    display: block;
}


/* definição cor 'background' da parte 'main' do documento */
main {
    background-color: white;
    width: 100%;
    height: auto;
    padding-top: 5.3rem;
}


/* estilizações da parte de apresentação do portfólio */
#dev-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 2.5rem 1.25rem;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}

.super-titulo {
    color: var(--corpurple);
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.253);
}

.super-paragrafo {
    width: 90%;
    font-size: 1.1rem;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    margin-top: 1.25rem;
}

.social-item:hover {
    transform: translateY(0.3rem);
}

/* estilizações da seção 'sobre mim' */
#sobre-bg {
    display: block;
    max-width: 1200px;
    margin: 55px auto;
}

#sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto 6.25rem auto;
    padding: 10px;
    gap: 30px;
}

#img-perfil {
    display: block;
    background-image: url(../imagens/perfil/perfil.jpeg);
    background-position: top center;
    background-size: cover;
    height: 450px;
    border-radius: 10px;
}

#sobre img {
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
}

#conteudo p {
    margin-top: 0.9rem;
    text-align: justify;
}

#conteudo > p > a {
    color: var(--corpurple);
    text-decoration: none;
}


/* estilizações da lista de 'tech skills' */
#tech-field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.8rem;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    height: auto;
    margin: 85px auto 110px auto;
    padding: 0px 20px;
}

#tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;   
    list-style-type: none;
    border-radius: 50%;
}

.tech-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.tech-icon:hover {
    transform: translateY(-5px);
}

#tech-icons > div > li {
    display: flex;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

#tech-icons > li > img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


/* estilizações das classes 'titulo' e 'sub-titulo' */
.titulo {
    line-height: 1.15;
    font-size: 2rem;
    margin-bottom: 15px;
}

.sub-titulo {
    display: block;
    color: var(--corpurple);
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.158);
}

/* estilizações da lista de projetos */
#projetos-bg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    margin: 100px auto 0px auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
}

.projetos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 90%;
    padding: 0px 20px;
}

.projeto-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.projeto-conteudo:hover {
    transform: translateY(-8px);
}

.projeto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 80px 0px 30px 0px;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding: 20px 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#img-projeto-aujude {
    background-image: url(../imagens/projects/projeto-aujude-menor.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

#img-projeto-login {
    background-image: url(../imagens/projects/projeto-login-menor.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

#img-projeto-social {
    background-image: url(../imagens/projects/projeto-social-menor.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

#img-projeto-android {
    background-image: url(../imagens/projects/projeto-android-menor.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.titulo-projeto {
    color: var(--corpurple);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.185);
    margin-bottom: 20px;
    text-align: center;
}

.projeto-img > img {
    border-radius: 6px;
}

#descricao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#descricao > p {
    text-align: center;
}

.techs-projeto {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

.techs-projeto li {
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(129, 129, 129, 0.09);
}

.projetos-links {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.link-externo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.link-externo > a {
    color: var(--corgray);
    text-decoration: none;
}

.link-externo > a:hover {
    color: var(--corpurple);
}


/* estilizações da seção 'contato' */
aside {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    padding-bottom: 50px;
}

#contato-bg {
    display: block;
    background-color: #fff;
    width: 40%;
    height: auto;
    margin: 30px auto 30px auto;
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    display: block;
}


/* estilizações do formulário de contato */

#form > form > p {
    margin-top: 10px;
}

#form > form > p > input {
    width: 100%;
    padding-block: 2px;
    text-align: left;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 3px;
    border-color: rgb(199, 199, 199);
    border-radius: 3px;
    resize: none;
}

#botoes-form {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
}

.botao-form {
    color: white;
    font-weight: bold;
    background-color: var(--corpurple);
    width: 50%;
    margin-top: 5px;
    padding: 8px 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

.botao-form:hover {
    background-color: rgb(195, 82, 252);
}


/* estilizações do footer e links */
footer {
    background-color: var(--corgray);
    height: auto;
    width: 100%;
    padding-block: 10px;
}

#rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-titulo {
    width: 90%;
    height: auto;
    padding-top: 10px;
    color: white;
}

.footer-titulo p {
    text-align: center;
    font-size: 1.5rem;
}

#footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 10px;
    list-style-type: none;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.footer-item:hover {
    transform: translateY(-3px);
}

.img-footer {
    margin-right: 7px;
}

.contato-texto > a {
    color: white;
    text-decoration: none;
}